modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-848b35d2-0591-4b32-9e05-ece9cb4afd4c"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 23406
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "683496344356-ik40b3oi6oj5mn03gor69kr6hmrcvmnl.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID = "683496344356-fjl6sjds91u5st3fifh0ljagcpp0qdt6.apps.googleusercontent.com"
